DSP/theory/b00k/4th Digital Signal Processing - Proakis and Manolakis.pdf
MSI/Muhammad Ali Mazidi, Janice Gillispie Mazidi, Rolin D. McKinlay - The 8051 Microcontroller and Embedded Systems Using Assembly and C-Pearson (2006).pdf
